@import 'react-mde/lib/styles/css/react-mde-all.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
}

button:focus {
  outline: none;
}

.ql-editor p,
.ql-editor.ql-blank::before {
  font-size: 1.3em;
  font-weight: 100;
}

.pane {
  overflow-y: auto;
  background-color: #FEFEDF;
}

.sidebar {
  width: 20%;
  height: 100vh;
}

.sidebar--header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
}

.sidebar--header > h3 {
  font-size: 1.5rem;
  margin: 0;
}

.new-note {
  cursor: pointer;
  background-color: #845EC2;
  border: none;
  color: #fdf7ff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.react-mde {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.mde-textarea-wrapper {
  margin-top: auto 0;
  border: 8px solid #FEFEDF;
  border-radius: 5px;
}
.mde-textarea-wrapper textarea.mde-text {
  resize: none;
  background-color: #fdf7ff;
  min-height: 90vh;
}
.first-note {
  cursor: pointer;
  position: relative;
  background-color: #845EC2;
  border: none;
  border-radius: 50%;
  color: #fdf7ff;
  padding: 2rem;
  width: 200px;
  height: 200px;
}
.first-note span{
  position: relative;
  z-index: 2;
}
.first-note::after{
  content: '';
  display: block;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: #845EC2;
  position: absolute;
  top: 0;
  left: 0;
  animation: ripple 2s linear infinite;
}

.editor {
  width: 80%;
  height: 100vh;
}

.title {
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title--delete {
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.title:hover .title--delete {
  display: block;
}

.note-summary:not(:last-of-type) {
  border-bottom: 1px solid lightgray;
}

.text-snippet {
  padding-inline: 5px;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: #845EC2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
}
.text-snippet::before{
  content: '';
  display: block;
  background-image: url(./assets/pen.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.selected-note {
  background-color: #845EC2;
}

.selected-note .text-snippet {
  color: white;
  font-weight: 700;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-horizontal:hover {
  cursor: col-resize;
}

.split {
  display: flex;
}

.no-notes {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FEFEDF;
}

.delete-btn {
  display: none;
  background: none;
  border: none;
}

.title:hover > .delete-btn {
  display: block;
}

.trash-icon {
  cursor: pointer;
  fill: red;
}
@keyframes ripple {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}